/* ==========================
   READING COMPREHENSION
   (added in newer version)
============================= */
:root {
  --pink: #f7d6e0;
  --yellow: #fee440;
  --sky: #9ad0ec;
  --mint: #c9feee;
  --aqua: #b2f7ef;
  --lav: #dfebff;
  --purple: #9b5de5;
  --dark-purple: #482475;
  --hotpink: #f15bb5;
  --red: #ff3864;
  --orange: #ff9f1c;
  --peach: #fff1dc;
  --white: #ffffff;
  --ink: #1c1c1c;

  --nav-bg: linear-gradient(to right, #f2dbeb 12%, #cefbf4);
  --footer-bg: #ebe3f6;
}



body {
  margin: 0;
  padding: 0;
  font-family:
    "Urbanist",
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Arial,
    sans-serif;
  color: var(--ink);
  background: var(--peach);
}

.comp-container {
  padding: 2rem 1rem;
  max-width: 1000px;
  margin: 0 auto;
}



/* main */
#typingTitle {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Finger Paint", cursive;
  color: var(--orange);
  font-size: 56px;
}

.grade-selector label {
  font-weight: bold;
}



/* tips section */
.tips-section {
  position: relative;
  background-color: var(--aqua);
  padding: 18px 40px 32px;
  border: 7px solid var(--purple);
  border-radius: 20px;
  overflow: visible;
}


.tips-dino {
  width: 300px;
  height: auto;
  position: absolute;
  right: 20px;
  top: -20px;
  z-index: 2;
}
.tips-section .comp-subheader {
  font-size: 29px;
  font-family: "Finger Paint", cursive;
  color: var(--ink);
}



/* books section  */
.books-section,
.questions-section,
.reading-tracker {
  margin-top: 70px;
  background-color: #f5f6f4;
  border-radius: 10px;
  padding: 10px 10px;
}

.books {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 14px;
  padding: 0;
  margin: 0;
}

.book-item img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 6px;
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease; /* fixed typo */
}

.book-item a {
  text-decoration: none;
  display: block;
  color: #3a4f7a;
}

.book-item:hover img {
  cursor: pointer;
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(58, 79, 122, 0.35);
}

.books h3,
.books p {
  text-align: center;
}

.parent-note {
  text-align: center;
  font-size: 17px;
}

.tips-list,
.question-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.tips-list li::before,
.question-list li::before {
  content: "⭐️";
  margin-right: 6px;
}

.day {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.75rem;
  gap: 12px;
}

.day input {
  border: 2px solid #3a4f7a;
  height: 35px;
  width: 200px;
  border-radius: 8px;
  text-align: center;
}

.selector {
  text-align: center;
}

.selector label {
  color: #3a4f7a;
}

.grade-selector select {
  border: 2px solid #3a4f7a;
  height: 35px;
  width: 200px;
  border-radius: 8px;
  text-align: center;
}

.total-minutes {
  font-size: 17px;
  text-align: center;
}
